.calculator {
  margin-top: 100px;
  height: 550px;
  width: 400px;
  background-color: rgb(34, 219, 157);
  border-radius: 20px;
  box-shadow: 10px 10px 5px lightblue;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;

}


/* .display {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 350px;
  padding-left: 50px;

}

#inputBox {
  height: 50px;
  font-weight: bolder;
}

.funRow {
  width: 60px;
}



.numBtn {
  margin-top: 20px;
  margin-right: 20px;
  height: 50px;
  width: 60px;
}

.opBtn {
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

#numBtn_calc-1_9 {
  width: 210px;
} */
